/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;
    max-width: 100%;
    transition: .7s;
}

header {
    background-image: url();
}

.logo{
    margin-left: -40px;
}
.logo img {
    width: 200px;
    padding: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Red Hat Display', sans-serif;
}

a:hover {
    color: #8dc048;
}

.button {
    display: flex;
    gap: 30px;
}

.btn1 {
    padding: 15px 5px;
    align-items: center;
    width: 83px;
    background: none;
    outline: none;
    border: none;
}

.btn2 {
    width: 83px;
    /* padding: 13px 10px; */
    border: none;
    height: 35px;
    outline: none;
    margin-top: 10px;
    background-color: #8dc048;
    border-radius: 5px;
}

.btn2 a {
    color: #ffffff;
}

.cnt-1 {
    display: none;
}

.cnt-2 {
    display: none;
}


.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    /* border-bottom: #8dc048 2px solid; */
    box-shadow: -4px -4px 10px #8f8f8f1f,
        4px 4px 10px rgba(143, 143, 143, 0.12);
    height: 97px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.nav-links {
    transition: 0.7s ease;
}

.hambuger {
    display: none;
    cursor: pointer;
    background-color: #8dc048;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.container{
    background-color: #0000000a;
    display: flex;
    justify-content: center;
    gap: 87px;
    flex-wrap: wrap;
}
.section1-text{
    margin-left: 90px;
    margin-top: 30px;
}
.banner-text h1 {
    padding-top: 150px;
    color: #000;
    font-family: Nunito;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.banner-text h1 span {
    padding-top: 150px;
    color: #000;
    font-family: Nunito;
    font-size: 33px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    margin-bottom: 15px;
}

.banner-text h1 span svg{
    position: absolute;
    margin-left: -184px;
    margin-top: -10px;
}
.banner-text p {
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button1 {
    display: inline-flex;
    padding: 6px 10px;
    border-radius: 4px;
    background: #8DC048;
    border: none;
    margin-top: 20px;
}

.button1 a {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.banner-text button a p {
    color: #FFF;
    font-family: Nunito;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.haeding-text {
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.5%;
    margin-top: 45px;
}

.flex-image {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0px 17px;
    flex-wrap: wrap;
    margin-top: 25px;
}
.background{
    background: #262B30;
    width: 650px;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    
}























@media (max-width: 923px) {
    .hambuger {
        display: block;
    }

    .button {
        display: none;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        padding: 0 2rem;
    }

    .cnt-1 {
        display: block;
        align-items: center;
        /* border: 1.5px solid #FFF; */
        background: none;
        padding: 10px 20px;
        margin-top: -20px;
    }

    .cnt-2 {
        display: block;
        align-items: center;
        border: none;
        background-color: #8dc048;
        /* background: linear-gradient(134deg, #C03EAC 0%, #25D7E2 100%); */
        padding: 12px 26px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 105px;
        height: 50vh;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 9rem;
        padding-top: 2rem;
        width: 100%;
        text-align: right;
        transition: 0.3s;
        background-color: #acff2fa6;
    }

    a {
        margin-top: -30px;
    }


    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}